*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.wrapper{
    width: 1000px;
    height: 639.6px;
    padding: 20px 0 0 10px;
}

.header{
    width: 100%;
    height: 4%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.events{
    height: 25px;
    margin-bottom: 5px;
    margin-left: 4px;
}
#search{
    width: 70px;
    border-radius: 5px;
    background-color: green;
    color: white;
    border: none;
}
.tips{
    width: 100%;
    height: 6%;
    margin-left: 5px;
    margin-top: 10px;
    background-color: rgb(255, 249, 230);
    border: rgb(253, 244, 216) solid 1px;
}
#tip{
    margin-top: 1%;
    margin-left: 2%;
}
.main{
    width: 100%;
    height: 90%;
    margin-left: 5px;
    margin-top: 15px;
}
.icon{
    width: 40px;
    height: 100%;
    border-right: inset 1px rgb(206, 205, 205);
    float: left;
}
#th{
    position: relative;
}
#th #span1{
    position: absolute;
    top: 10px;
    left: 45px;
}
#th #span2{
    position: absolute;
    top: 10px;
    right: 10px;
}
.icon img{
    margin-top: 10px;
    margin-left: 10px;
}