
        *{
            margin: 0;
            padding: 0;
        }
        table,tr,td,th{
          border-collapse: collapse;
    
            text-align: center;
            padding-inline-start: 10px;
            align-content: center;
            
          
            
        }
        .wapper{
            width: 1010px;
            height: 800px;
            margin: auto;
        }
       
        
        .body{
            width: 100%;
            height: 650px;
            background-color:white;
            position: relative;
        }
        .left{
            width: 20%;
            height: 100%;
            background-color: #F3F3FA;
            line-height: 27px;
            
        
           
        }
        .main{
            width: 80%;
            height: 75px;
            background-color:white;
            position: absolute;
            top: 0px;
            right: 0px;
        }
      
        
       
        
       a{
           text-decoration-line: none;
           list-style: none;
           padding-left: 15px;
           color:#7C7F8D;
                 
       }
       #fi{
           line-height: 45px;
           list-style: none;
           
       }
       ul li{
           list-style-type: none;
       }
      
       .fir>ul li{
           padding-left: 40px;
           line-height: 32px;
           font-size: 15px;
       }
       .second>li:hover{
           background-color: #EAE7F4;

       }
       #buttom{
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            padding: 4px 6px;
            text-align: center;
            background-color: #eeeef5d8;
            color: black;
            border: 1px solid #eeeef5d8;
            
       }
       #buttom:hover{
        background-color: white;

      
       }
       #buttom1:hover{
        background-color: white;

       }
       #buttom1{
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        padding: 2px 12px;
        text-align: center;
        background-color: #eeeef5d8;
        color: black;
        border: 1px solid #eeeef5d8;
        position: relative;
       top: -45px;
       left: 680px;
      
        
                      
       }
       #tittle{

         
        position:absolute;
        top: 110px;
      
    }
    #ti2{
       
        position: relative;
        top: -70px;
        left: 580px;
        
       
        
    }
           
       
       #tab{
           position: relative;
           top: 40px;
          
       }
   .selectstate{
       position: relative;
       top:300px;
       left:500px;
   }
   #sel{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    padding: 2px 12px;
    text-align: center;
    background-color: #eeeef5d8;
    color:  black;
    border: 1px solid #eeeef5d8;
   }
   #sel:hover{
    background-color: white;
   }
  