*{
    padding: 0px;
    margin: 0px;
}
.wrapper{
    padding: 20px;
}
.tips{
  width: 1260px;
  height: 40px;
  margin-left: 5px; 
  background-color: rgb(221, 231, 175);
  border: rgb(218, 230, 168) solid 1px;
}
.main{
  width: 1260px;
  height: 600px;
  border: 1px inset gray;
  margin-left: 5px;
  margin-top: 15px;
}
#button{
  float:right; 
  background-color: rgb(63, 165, 123);
}