*{
    padding: 0;
    margin: 0;
}
#wrapper{
    padding: 20px;
}
.tips{
    width: 100%;
    height: 40px;
    margin-left: 5px;
    margin-top: 10px;
    background-color: rgb(168, 242, 232);
    border: rgb(218, 230, 168) solid 1px;
}
.top1{
    display: flex;        /*弹性布局*/
    flex-direction: row;
    margin-top: 5px;
    margin-left: 5px;
}
.top2{
    margin-right: 5px;
    margin-left: auto;
}
.events{
    height: 30px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.btn btn-primary btn-sm top2{
    width: 80px;
    border-radius: 5px;     /* 向id选择器search元素添加圆角边框 */
    background-color: rgba(1, 3, 4, 0.45);
    color: white;
    border: none;
    font-size: 15px;
}

/*#addtype{
    width: 80px;
    border-radius: 5px;   !*向id选择器search元素添加圆角边框：*!
    background-color: rgba(1, 3, 4, 0.45);
    color: white;
    border: none;
    font-size: 15px;

}
#addperson{
    width: 80px;
    border-radius: 5px;
    background-color: rgba(1, 3, 4, 0.45);
    color: white;
    border: none;
    font-size: 15px;
}
#insertall{
    width: 100px;
    border-radius: 5px;
    background-color: rgba(79, 79, 79, 0.41);
    color: white;
    border: none;
}*/
#main{
    width: 100%;
    height: 565px;
    border: 1px inset rgba(78, 87, 63, 0.17);
    margin-left: 5px;
    margin-top: 15px;
    position:relative
}
.msg1{
    display: flex;        /*弹性布局*/
    flex-direction: row;
    margin-top: 5px;
    margin-left: 5px;
}
.m1{
    width: 15px;
    height: 15px;
}
.m2{
    width: 200px;
    height: 30px;
    font-size: large;
    font-family: SimHei;

}
.mtop{
    width: 230px;
    height: 40px;
    margin-top: 2px;
    margin-left: auto;
    margin-right: 20px;
    background-color: rgba(78, 87, 63, 0.17);
}
.tb{
    margin-top: 5px;
}
#yiul{
    position:absolute;
    right: 50px;
    bottom: 0px;
}
#erul{
    position:absolute;
    right: 50px;
    bottom: 0px;
}
.modal-body{
    width: 100%;
    height: 100%;
}

.lable{
    background: #f3ff90;
}



