*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.wrapper{
    width: 838.5px;
    height: 639.6px;
    padding: 20px 0 0 10px;
}
.header{
    height: 4%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.events{
    height: 30px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.search{
    height: 30px;
    margin: 5px;
    border-radius: 5px;
}
#search{
    width: 80px;
    border-radius: 5px;
    background-color: green;
    color: white;
    border: none;
}
#psearch{
    width: 80px;
    border-radius: 5px;
    background-color: rgb(201, 85, 85);
    color: white;
    border: none;
}
.tips{
    width: 100%;
    height: 6%;
    margin-left: 5px;
    margin-top: 10px;
    background-color: rgb(221, 231, 175);
    border: rgb(218, 230, 168) solid 1px;
}
.main{
    width: 100%;
    height: 90%;
    border: 1px inset gray;
    margin-left: 5px;
    margin-top: 15px;
}
.icon{
    width: 40px;
    height: 100%;
    border-right: inset 1px rgb(238, 232, 232);
    background-color: greenyellow;
    float: left;

}
#main-header{
    float: right;
    width: 100%;
    height: 40px;
    background-color: rgb(238, 232, 232);
    position: relative;
    border: rgb(238, 236, 236) inset 1px;
}
#m-span{
    position: absolute;
    top: 5px;
    left: 45px;
}
#m-search{
    margin-top: 5px;
    margin-right: 5px;
    float: right;
}