<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>群发短信</title>
    <link rel="stylesheet" th:href="@{/css/sendAllChat.css}" />
    <script type="text/javascript"  th:src="@{/js/jquery-3.6.0.min.js}"></script>
</head>
<body>
<div class="wrapper">
    <div class="tips">
        <a th:href="@{sendChat.html}" target="menuFrame" class="button"><input type="button" value="发送短信" id="button"></a>
    </div>
    <div class="main">

    </div>
</div>

</body>
</html>