<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加员工</title>
    <script src="http://cdn.staticfile.org/jquery/3.6.0/jquery.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<link rel="stylesheet" href="./css/tjyg.css">
<link rel="stylesheet" href="./css/tijia.css">

<!-- 修改功能中的传参请求 处理 将数据回显到模态框中-->
<script  th:inline="javascript">
    // $(document).ready(function () {
    //     // $("#vv").on("click",function () {
    //
    //     }
    //
    //
    // });
    // var employees=new Employees();

    function update(id) {
        console.log("aaaaaaaaaaa");
        $.ajax({
            type: "get",
            url: "getEmployeeById",
            data: {"id": id},
            dataType: "json",
            success: showMessage,
            error: function () {
                alert("请求失败");
            }
        });

    }

    function showMessage(data) {
        $("#BH").val(data.id);
        $("#XM").val(data.name);
        $("#XB").val(data.sex);
        $("#SJ").val(data.phone);
        $("#JB").val(data.lv);
        $("#RZ").val(data.entrytime);
        $("#YJ").val(data.perobj);
        $("#ZT1").val(data.jobstatus);
        $("#BM").val(data.department);
        $("#BQ").val(data.label);
        $("#PX").val(data.ordernum);
        $("#ZT2").val(data.workstatus);
        $("#DK").val(data.open_ports);
        $("#TJ").val(data.tuijian_status);
        // 显示模态框
        $('#update').modal('show');
    }



    $(document).ready(function () {
    $('#upload').click(function () {
        var file1 = document.myForm.file.files[0];
        console.log(file1.type);
        var fm = new FormData();
        fm.append('file', file1);
        $.ajax({
                url: 'insertEmpByExcel',
                type: 'POST',
                data: fm,
                contentType: false, //禁止设置请求类型
                processData: false, //禁止jquery对DAta数据的处理,默认会处理
                // 禁止的原因是,FormData已经帮我们做了处理
                success: function () {
                    console.log("sadadadadas");
                    //但需要你后端有返回值
                    window.location.href="TJYG.html";//实现刷新页面
                    alert("通过Excel插入成功!");
                },error: function () {
                alert("通过Excel插入失败!");
            }
            });
    });
    });











    // 设置离职 (0) 还是在职 (1)
        function fset(id,jobstatus) {
            console.log(jobstatus);
            if(jobstatus==2){
                 setjob=0;
                console.log("里面的2：setjob="+setjob);

            }
            else if(jobstatus==3) {
                  setjob=1;
                console.log("里面的3：setjob="+setjob);
            }
            console.log("现在的：setjob="+setjob);
            $.get("setjobstatus",
                {"setjob":setjob,"id":id},
            function(data){
                    // $("#setstatus1").html(data);
                    window.location.href="TJYG.html";//实现刷新页面
                    alert("设置成功");
            });
        };

    // 设置在线 (true 1)  还是(离线 0)
    function wset(id,status) {
        console.log(status);
        if (status==true){
            setwork=0;
        }else if (status==false){
            setwork=1;
        }
        console.log("现在的：setwork="+setwork);
        $.get("setworkstatus",
            {"setwork":setwork,"id":id},
            function(data){
                window.location.href="TJYG.html";//实现刷新页面
                alert("设置成功");
            });
    }
    function tset(id,status) {
        console.log(status);
        if (status==true){
            settui=0;
        }else if (status==false){
            settui=1;
        }
        console.log("现在的：settui="+settui);
        $.get("settuijian",
            {"settui":settui,"id":id},
            function(data){
                window.location.href="TJYG.html";//实现刷新页面
                alert("设置成功");
            });
    }
</script>



<body>
<div id="wrapper">
    <input type="text" hidden="hidden" th:value="${msg}"/>
    <div class="tips">
        <div class="top1">
            <form th:action="@{selectmsg}" method="get">
                <select name="sex" id="sex" class="events">
                    <option >性别</option>
                    <option >男</option>
                    <option >女</option>
                </select>
                <select name="jobstatus" id="jobstatus" class="events">
                    <option >状态</option>
                    <option >在职</option>
                    <option >离职</option>
                </select>
                <input type="submit"  value="筛选" style="width: 50px;height: 30px ">
            </form>

            <div class="top2">
                <button  id="addtype" class="btn btn-primary btn-sm top2" data-toggle="modal" data-target="#myModal" style="background-color: rgba(1, 3, 4, 0.45); ">添加类型</button>
                <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal-2"><span class="glyphicon glyphicon-user"></span>添加员工</button>
                <button  id="insertall" class="btn btn-primary btn-sm top2" data-toggle="modal" data-target="#myModal-3"  style="background-color: rgba(1, 3, 4, 0.45);">批量导入</button>

            </div>
        </div>

    </div>

    <div id="main">
        <div class="msg1">
            <img class="m1" src="./img/msg.png" >
            <lable class="m2">员工资料列表</lable>

            <div class="mtop"><!-- 里面的URL是变的时候 才用th  如超链接一样  -->
                <form class="bs-example bs-example-form" role="form"  th:action="@{TJYG.html}" th:method="get"  >
                    <div class="row">
                        <div class="col-lg-6" style="width: 100%">

                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        查询
                                    </button>
                                </span>
                                <input name="sparam" type="text" class="form-control" placeholder="输入姓名或级别查询" th:value="${sparam}">
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="tb">
            <table class="table table-condensed">
                <thead>
                    <tr >
                        <th colspan="9" style="text-align: center;background: rgba(5,5,11,0.5)">基本信息</th>
                        <td colspan="5" style="text-align: center;background: rgba(5,5,11,0.5)">服务信息</td>
                        <td rowspan="2" colspan="2" style="text-align: center;background: rgba(5,5,11,0.59);font-size: larger">操作</td>
                    </tr>
                    <tr style="background: rgba(5,5,11,0.5)">
                        <td>编号</td>
                        <td>姓名</td>
                        <td>性别</td>
                        <td>手机号码</td>
                        <td>级别</td>
                        <td>入职时间</td>
                        <td>业绩目标</td>
                        <td>状态</td>
                        <td>部门</td>

                        <td>标签</td>
                        <td>排序号</td>
                        <td>状态</td>
                        <td>开放端口</td>
                        <td>推荐状态</td>

                    </tr>
                </thead>
                <tbody >
                <tr th:each="employee,start:${employees}"><!--数据-->
                    <td id="employee" th:text="${employee.id}">001</td>
                    <td th:text="${employee.name}">Bangalore</td>
                    <td th:text="${employee.sex}">男</td>
                    <td th:text="${employee.phone}">888</td>
                    <td th:text="${employee.lv}">中公</td>
                    <td th:text="${employee.entrytime}">2021-7-19</td>
                    <td th:text="'今日业绩：'+${employee.perobj}">今日业绩：1</td>
                    <td >
<!--                        <a th:href="@{setjobstatus(id=${employee.id})}">-->
                        <span th:if="${employee.jobstatus}=='在职'">
                            <input type="button" class="btn btn-primary" th:onclick="|fset('${employee.id}',2)|" value="设置离职" />
                        </span>
                        <span th:unless="${employee.jobstatus}=='在职'">
                            <input type="button" class="btn btn-primary" th:onclick="|fset('${employee.id}',3)|" value="设置在职" />
                        </span>

<!--                        <button type="button" class="btn btn-primary" data-toggle="button" onclick="location.href=''">设置离职</button>-->
                    </td>
                    <td th:text="${employee.department}"> </td>

                    <td th:text="${employee.lable}"> </td>
                    <td th:text="${employee.ordernum}">1000</td>
                    <td>
                        <span th:if="${employee.workstatus}=='在线'">
                            <input type="button" class="btn btn-default" style="background: skyblue" th:onclick="|wset('${employee.id}',true)|" value="下线"/>
                        </span>
                        <span th:unless="${employee.workstatus}=='在线'">
                            <input type="button" class="btn btn-default" style="background: gray" th:onclick="|wset('${employee.id}',false)|" value="上线"/>
                        </span>
                    </td>
                    <td th:text="${employee.open_ports}">端端端端端</td>
                    <td>
                        <span th:if="${employee.tuijian_status}=='推荐'">
                            <input type="button" class="btn btn-default " style="background: orange" th:onclick="|tset('${employee.id}',true)|" value="取消推荐"/>
                        </span>
                        <span th:unless="${employee.tuijian_status}=='推荐'">
                            <input type="button" class="btn btn-default " style="background: lawngreen" th:onclick="|tset('${employee.id}',false)|" value="推荐"/>
                        </span>
                    </td>

                    <td>
                        <input id="vv" type="button" class="btn btn-default" data-toggle="modal" data-target="#update" th:onclick="|update('${employee.id}')|" value="修改"/>
                    </td>

                    <td> <a th:href="@{deleteEmployee(id=${employee.id})}">
                        <input type="button" class="btn btn-default" value="删除"/></a>
                    </td>
                </tr>
                </tbody>
            </table>

            <!--        分页页码显示-->
            <ul id="yiul" class="pager" th:if="${articlePage.pages>0}" >
                <li  th:if="${articlePage.hasPreviousPage}">

                    <a th:href="@{TJYG.html(sparam=${sparam},pageNum=1)}">首页</a>
                </li>

                <li  th:if="${articlePage.hasPreviousPage}">

                    <a th:href="@{TJYG.html(sparam=${sparam},pageNum=${articlePage.prePage})}">上一页</a>
                </li>


                 <span th:each="i:${#numbers.sequence(1,articlePage.pages)}">
                        <a th:href="@{TJYG.html(sparam=${sparam},pageNum=${i})}" th:text="${i}" th:if="${i} != '${articlePage.pageNum}'"></a>
                     <span style="font-weight: bold;background: #6faed9;" th:if="${i} == '${articlePage.pageNum}'" th:text="${i}" ></span>
                    </span>

                <li>
                    <span th:text="'Now'+${articlePage.PageNum}+'页'"></span>
                </li>

                <li class="next" th:if="${articlePage.hasNextPage}">
                    <a th:href="@{TJYG.html(sparam=${sparam},pageNum=${articlePage.nextPage})}">下一页</a>
                </li>


                <li>
                    <a th:href="@{TJYG.html(sparam=${sparam},pageNum=${articlePage.pages})}">尾页</a>
                </li>

                <li>
                    <span th:text="'共'+${articlePage.pages}+'页'"></span>
                </li>

            </ul>


        </div>
    </div>
</div>


<!-- 添加员工类型框  没搞懂所以没实现-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="form-horizontal" autocomplete="off" action="0.php">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">x</button>
                    <h4>添加员工类型</h4>
                </div>
                <div class="modal-body">
                    <div style="background: #f7ffb4">
                        <lable >1.点击三左边的文字，可直接修改!<br><br>
                            2.可添加多个二级分类,用于满足不同提成的设置。<br></lable>
                    </div><br>

                    <div class="form-group">
                        <label  class="col-sm-2 control-label">工种选择:</label><br><br>
                        <div class="col-sm-6" style="direction:ltr;">
                            <select class="form-control">
                                <option>发型师</option>
                                <option>中工</option>
                                <option>洗头工</option>
                                <option>理发师</option>
                            </select>
                        </div><br><br>

                        <label  class="col-sm-2 control-label">工种选择:</label><br><br>
                        <div class="col-sm-6" style="direction:ltr;">
                            <select class="form-control">
                                <option>发型师</option>
                                <option>中工</option>
                                <option>洗头工</option>
                                <option>清洁工</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">保存</button>
                    <button class="btn btn-info" data-dismiss="modal">关闭</button>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- 增添员工信息框 -->
<div class="modal fade" id="myModal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    添加员工信息
                </h4>
            </div>



            <ul class="nav nav-tabs" >
                <li role="presentation" class="active"><a href="#" data-toggle="tab">基础信息</a></li>
                <li role="presentation" class="active"><a href="#" data-toggle="tab">服务信息</a></li>
            </ul>

            <form action="addEmployee"  method="get">
                <div class="modal-body">
                    <div id="d1">
                        <div class="add" >
                            <lable>*编 号 </lable><input class="input" type="text" name="id" ><br><br>
                            <lable>*姓 名 </lable><input class="input" type="text" name="name" >
                        </div><br>
                        <div class="add">
                            <lable>*级 别 </lable><input id="inputlv" class="input" list="jibie" type="text" οnchange="inputSelect()" name="lv"/>
                            <datalist id="jibie">
                                <option value="中工"></option>
                                <option value="理发师"></option>
                                <option value="发型师"></option>
                            </datalist>
                        </div><br>
                        <div class="add" >
                            <lable>*部 门 </lable><input class="input" list="bumen" type="text" name="department">
                            <datalist id="bumen">
                                <option value="001"></option>
                                <option value="002"></option>
                            </datalist>
                            </select>
                        </div><br>
                        <div class="add radio">
                            <lable>*性 别   </lable>


                            <label for="man"><input  id="man" type="radio" name="sex" value="男">男</label>
                            <label for="female"><input id="female" type="radio" name="sex" value="女">女</label>
                        </div>
                        <div class="add">
                            <lable>排序号</lable>
                            <input placeholder="1000" class="input" type="text" name="ordernum" >
                        </div>
                    </div>

                    <div id="d2">
                        <div class="add2">
                            <lable>入职时间</lable>
                            <input class="input lg" type="text" name="entrytime">
                        </div><br>
                        <div class="add2">
                            <lable>入职状态</lable>
                            <input placeholder="在职" class="input lg" type="text" name="jobstatus" >
                        </div><br>
                        <div class="add2">
                            <lable>*手机号码</lable>
                            <input class="input lg" type="text" name="phone">
                        </div><br>
                        <div class="add2">
                            <lable>在线/离线</lable>
                            <input placeholder="在线" class="input lg" type="text" name="workstatus" >
                        </div><br>
                        <div class="add2">
                            <lable>开放端口</lable>
                            <input placeholder="商家端、客户端、技师端" class="input lg" type="text" name="open_ports" >
                        </div><br>
                        <div class="add2">
                            <lable>推荐状态</lable>
                            <input class="input lg" type="text" name="tuijian_status">
                        </div><br>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">确定添加</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!--修改员工信息的弹框-->
<div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">x</button>
                    <h4>修改信息</h4>
                </div>

                <div  class="modal-body">
                    <form action="updateEmployee"  method="get">
                        <div class="input-group">
                            <span class="input-group-addon">编        号</span>
                            <input type="text" class="form-control" placeholder="请输入编号" id="BH" readonly="readonly" name="id">
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon">姓        名</span>
                            <input type="text" class="form-control" placeholder="请输入姓名" id="XM" name="name">
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon">性         别</span>
                            <input type="text" class="form-control" placeholder="请输入性别" id="XB" name="sex" >
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon">手机号码</span>
                            <input type="text" class="form-control" placeholder="请输入手机号码" id="SJ" name="phone">
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon">级          别</span>
                            <input type="text" class="form-control" placeholder="请输入级别" id="JB"  name="lv">
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon">入职时间</span>
                            <input type="text" class="form-control" placeholder="入职时间" id="RZ" name="entrytime">
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon">业绩目标</span>
                            <input type="text" class="form-control" placeholder="业绩目标(如：0,1,2..)" id="YJ" name="perobj">
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon">状   态1</span>
                            <input type="text" class="form-control" placeholder="离职或在职" id="ZT1" name="jobstatus">
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon">部    门</span>
                            <input type="text" class="form-control" placeholder="请输入部门" id="BM" name="department">
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon">标    签</span>
                            <input type="text" class="form-control" placeholder="请输入标签" id="BQ" name="lable" >
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon">排序号</span>
                            <input type="text" class="form-control" placeholder="输入排序号" id="PX" name="ordernum">
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon">状   态2</span>
                            <input type="text" class="form-control" placeholder="上线或离线" id="ZT2" name="workstatus">
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon">开放端口</span>
                            <input type="text" class="form-control" placeholder="商家端、客户端、技师端" id="DK" name="open_ports">
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon">推荐状态</span>
                            <input type="text" class="form-control" placeholder="推荐状态" id="TJ" name="tuijian_status">
                        </div><br>

                        <div class="modal-footer" >
                            <input type="submit" class="btn btn-primary" value="保存"/>

                            <button class="btn btn-info" data-dismiss="modal">关闭</button>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>

<!--完成批量添加-->
<div class="modal fade" id="myModal-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="top: 200px;">
    <div class="modal-dialog">
        <div class="modal-content">
<!--            <form class="form-horizontal" autocomplete="off" action="0.php">-->
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">x</button>
                    <h4>完成批量添加</h4>
                </div>
                <div class="modal-body-1">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active">
                            <a href="#home" data-toggle="tab">
                                菜鸟教程
                            </a>
                        </li>
                        <li><a href="#ios" data-toggle="tab">iOS</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content" style="height: 220px;">
                        <div class="tab-pane fade in active" id="home">
                            <div class="alert alert-danger alert-dismissible w-50" style="height: 110px;width: 598px;">
                                <span data-dismiss="alert" class="close">X</span>
                                    <strong>小提示</strong><br>
                                1.按照模版中要求填写员工信息。<br>
                                2.点击下方“选择文档”按钮,在电脑中选中已填写完成的文档,点击“导入”。<br>
                                3.如果系统有提示,请提示修改文档,如无法解决请联系我们客服: 400-077-0829
                            </div>
                            <div>
                                <form name="myForm" enctype="multipart/form-data" style="width: 580px;"  >
                                    <input id="f_upload" type="file" name="file" style="margin-left: 120px;background: greenyellow" /><br>
<!--                                    <button type="submit" class="btn btn-default" style="margin-left:285px; width: 50px;height: 30px;">导入</button>-->
                                    <button type="button" id="upload" class="btn btn-default" style="float:right;width: 50px;height: 30px;">导入</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-left: 460px;width: 50px;height: 30px;">关闭</button>
                                </form>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="ios">
                            <p>iOS 是一个由苹果公司开发和发布的手机操作系统。最初是于 2007 年首次发布 iPhone、iPod Touch 和 Apple
                                TV。iOS 派生自 OS X，它们共享 Darwin 基础。OS X 操作系统是用在苹果电脑上，iOS 是苹果的移动版本。</p>
                        </div>
                    </div>


                </div>

<!--            </form>-->
        </div>
    </div>
</div>



</body>
</html>