<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>会员列表</title>
    <link rel="stylesheet" th:href="@{/css/vipList.css}"/>
    <script type="text/javascript"  th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/vipList.js}"></script>
    <script type="text/javascript" th:src="@{/js/layer-v3.5.1/layer/layer.js}"></script>
    <script th:inline="javascript">
        // $(function(){
        //     $('#search').on('click',function(){
        //         var a=0
        //         var card_amount=0
        //         var gift_money=0
        //         var integral=0
        //         var package=0
        //         var package_amount=0
        //         var arrears=0
        //         console.log($("#car option:selected").text())//获取选择文本
        //         console.log($("#sex option:selected").text())
        //         console.log($("#user option:selected").text())
        //         console.log($("#meal option:selected").text())
        //         $.ajax({
        //             url:"vipList.do",
        //             method:"GET",
        //             dataType:"JSON",
        //             async:true,
        //             data:{
        //                 card_type:$("#car option:selected").text(),
        //                 sex:$("#sex option:selected").text()
        //             },
        //             success:function(data){//data服务器返回的数据
        //                 console.log(data);
        //                 $.each(data,function(index,vip){
        //                     console.log(vip.card_id);
        //                     console.log(vip.customer_name);
        //                     a=index+1//获取数据长度
        //                     card_amount=card_amount+vip.card_amount*1
        //                     gift_money+=vip.gift_money*1
        //                     integral+=vip.integral*1
        //                     if (vip.package!="null"){
        //                         package+=1
        //                     }
        //                     package_amount+=vip.package_amount*1
        //                     arrears+=vip.arrears*1
        //                 })
        //                 $('.tips').children('div').text("查询统计:总共"+a+"位，卡金"+card_amount+"元、赠送金"+gift_money+"元、积分"+integral+"分、套餐用户"+package+"位、套餐余额"+package_amount+"元、欠款"+arrears+"元")
        //             }
        //         })
        //     })
        // })
        function la(VIP_ID){
            layer.open({
                type: 2 //Page层类型
                ,area: ['500px', '300px']
                ,title: 'Hello layer'
                ,shade: 0.6 //遮罩透明度
                ,maxmin: true //允许全屏最小化
                ,anim: 5 //0-6的动画形式，-1不开启
                ,content: 'vipModify.html?VIP_ID='+VIP_ID
            });
        }
    </script>
</head>
<body>
<div class="wrapper">
    <div class="header">
        <input type="text" placeholder="会员姓名/卡号/手机号"  class="search">
        <form th:action="vipList.do" method="get">
            <select name="VIP_TYPE" id="VIP_TYPE" class="events">
                <option >全部会员卡类</option>
                <option >美甲会员</option>
                <option >9折卡</option>
                <option >8.5折卡</option>
                <option >8折卡</option>
                <option >7.5折卡</option>
                <option >7折卡</option>
            </select>
            <select name="sex" id="sex" class="events">
                <option >全部性别</option>
                <option >男</option>
                <option >女</option>
            </select>
            <select name="kinds_user" id="kinds_user" class="events">
                <option>正常用户</option>
                <option>已删除用户</option>
            </select>
            <select name="kinds_meal" id="kinds_meal" class="events">
                <option>全部套餐</option>
            </select>
            <input type="submit" value="查询" id="search" class="events">
            <input type="submit" value="高级查询" id="psearch" class="events">
        </form>
    </div>
    <div class="tips" id="div1" th:fragment="div1" >
        <div th:if="${vip_information} ne null" >
            <div th:text="查询统计：总共+${a}+位，卡金+${card_amount}+元，赠送金+${gift_money}+元，积分+${integral}+分，套餐用户+${package}+位，套餐余额+${package_amount}+元，欠款+${arrears}+元"></div>
        </div>
    </div>
    <div class="main" >
        <table border="1" th:if="${vip_information} ne null">
            <tr>
                <th>口</th>
                <th>卡号</th>
                <th>用户姓名</th>
                <th>手机号</th>
                <th>卡类</th>
                <th>卡金</th>
                <th>消费总额</th>
                <th>赠送金</th>
                <th>积分</th>
                <th>欠款</th>
                <th>套餐数量</th>
                <th>套餐余额</th>
                <th>生日</th>
                <th>开卡时间</th>
                <th>最近消费时间</th>
                <th>操作</th>
            </tr>
            <tr th:each="vip:${vip_information}">
                <td></td>
                <td th:text="${vip.VIP_ID}"></td>
                <td th:text="${vip.VIP_NAME}"></td>
                <td th:text="${vip.VIP_PHONE}"></td>
                <td th:text="${vip.VIP_TYPE}"></td>
                <td th:text="${vip.CARD_MONEY}"></td>
                <td th:text="${vip.HISTORY_MONGEY}"></td>
                <td th:text="${vip.ZENGSONG_MONEY}"></td>
                <td th:text="${vip.JIFEN}"></td>
                <td th:text="${vip.QIANKUAN}"></td>
                <td th:text="${vip.TAOCAN_NUMBER}"></td>
                <td th:text="${vip.TAOCAN_REMAIN}"></td>
                <td th:text="${vip.BIRTHDAY}"></td>
                <td th:text="${vip.OPENG_TIME}"></td>
                <td th:text="${vip.LAST_TIME}"></td>
                <td>
                    <!--th:href="@{modify(card_id=${vip.card_id})}"-->
                    <a ><input type="button" id="modify" value="修改" th:onclick="la([[${vip.VIP_ID}]])"></a>
                    <a th:href="@{delete(VIP_ID=${vip.VIP_ID})}"><input type="button" id="delete" value="删除"></a>
                </td>

            </tr>
        </table>
    </div>
</div>
</body>
</html>